{% extends "mainApp/wrapper.html" %}

{% block content %}

<div class="h_right">
    <ul class="menu">
     	<li class="menu-item"><a href="{% url 'master_page' user.pk %}">Кабинет мастера</a></li>
    	<li class="menu-item"><a href="{% url 'masters_orders' %}">Мои строки всех заказов</a></li>
    	<li class="menu-item"><a href="{% url 'orderlines' %}">Новые заказы</a></li>
   		<li class="menu-item"><a href="{% url 'masters_closed_orders' %}">Выполненные мной заказы</a></li>
    </ul>

</div>

    {% block master_content %} {% endblock %}

{% endblock %}