{% extends "mainApp/wrapper.html" %} {% block content %} {% load static %}
<div class="describe">
    <div class="h_left">
        <h2>Хотите справляться со всеми задачами быстро и эффективно? Тогда Вы зашли на правильную страничку, ведь  Tech Service знает, как разрешать любые поручения в минимальные сроки. Перечень наших услуг огромен, мы можем практически все!</h2>
    </div>
    <div class="devices"><img src="{% static 'images/devices.png' %}" alt="devices"></div>
    <div class="clear"></div>
</div>
{% endblock %}