{% extends "mainApp/wrapper.html" %} {% block content %} {% load static %}
<div class="describe">
    <div class="h_left">
        <h2>Хотите справляться со всеми задачами быстро и эффективно? Тогда Вы зашли на правильную страничку, ведь  Tech Service знает, как разрешать любые поручения в минимальные сроки. Перечень наших услуг огромен, мы можем практически все!</h2>
        <br>
        <div class="devices"><img src="{% static 'images/devices.png' %}" alt="devices"></div>
        <br>
        <br>
        <br>
        <h2>Прежде чем приступить к ремонту, наши мастера осуществляют обязательную диагностику телевизоров, выявляют причину поломки и озвучивают Вам стоимость работ. Только после Вашего согласия мы приступаем к ремонту. В этом случае диагностика и доставка будет бесплатной. В случае если Вас не устаивает цена ремонта или ремонт оказался не целесообразным, Вам необходимо будет оплатить доставку техники до Вашего дома.</h2>
        <div class="devices"><img src="{% static 'images/iphone.png' %}" alt="devices"></div>
    </div>
</div>
{% endblock %}