<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
<link rel='stylesheet' href="{% static 'bootstrap/css/bootstrap.min.css' %}" type='text/css'>    <!-- <link rel='stylesheet' href="/static/css/bootstrap.min.css" type='text/css'> -->
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>{% include "mainApp/includes/some_html.html" %}</h1>
            <p>
                <a href="{% url 'index' %}" class="btn btn-success">Главная страница</a>
                <a href="/news" class="btn btn-primary">Новости</a>
                <a href="/contact" class="btn btn-info">Контакты</a>
                <a href="{% url 'areas' %}" class="btn btn-info">Категории</a>
                <a href="/admin" class="btn btn-info">Админ</a>
                {% if user.is_authenticated %}
                    <li>User: {{ user.get_username }}</li>
                    <li><a href="{% url 'logout'%}?next={{request.path}}" class="btn btn-info">Выйти</a></li>
                {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}" class="btn btn-info">
                    Войти</a></li>
                    <li><a href="{% url 'register'%}?next={{request.path}}" class="btn btn-info">Зарегистрироваться</a></li>
                {% endif %}
            </p>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="container">
        <img src="{% static 'mainApp/sun.jpg' %}" class="img-thumbnail">
        <hr>
        &copy; Все права защищены 2018
    </div>
</body>
</html>
